body {
  font-family: sans-serif;
  color: red;
}

.container {
  width: 1200px;
  margin: auto auto;
  border: solid 1px black;
  background-image: url('images/map.jpg');
}

.container p {
  text-align: center;
}

#new_canvas {
  border: 1px solid;
  width: 100%;
  height: 600px;
  
}
